<div id="cadastro">
    <div class="row" id="diretorio">
        <h3><a href="#">Inicio</a></h3>
        <h3><a href="#">Clientes</a></h3>
        <h3><a href="#">Novo</a></h3>
    </div>

    <div class="row">
        <form>
            <div class="form-row mb-3">
                <div class="col-md-8">
                    <label for="inputEmail4">Nome Completo</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-md-4">
                    <label for="inputEmail4">CPF</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-row mb-5">
                <div class="col-md-4">
                    <label for="inputEmail4">Data</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder=" / / " aria-label="Recipient's username"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail4">Profissão</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-md-4">
                    <label for="inputEmail4">RG</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="exampleInputEmail1">Endereço</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="">
            </div>

            <div class="form-row mb-3">
                <div class="col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4">Telefone</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>

            <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                <label class="btn btn-l">
                    <input type="radio" name="options" id="option1" autocomplete="off">Criar Contato
                </label>
                <label class="btn">
                    <input type="radio" name="options" id="option2" autocomplete="off">Adicionar Imovel
                </label>
                <label class="btn btn-r">
                    <input type="radio" name="options" id="option3" autocomplete="off">Salvar
                </label>
            </div>
        </form>
    </div>
</div>